---

---

<button
  id="toc-open-button"
  class="z-50 fixed right-5 bottom-18
    w-10 h-10 rounded-full
    op-0 bg-#8883 dark:bg-#8886 pointer-events-none op-transition
    lt-lgp:(op-50 pointer-events-auto)
    hover:op-100 print:hidden"
  title="Open table of contents"
>
  <div u-i-lucide-table-of-contents class="text-gray-700 dark:text-gray-200">
  </div>
</button>

<nav
  id="toc-panel"
  class="hidden! z-200 fixed top-10% left-50% translate-x--50%
    overflow-y-auto flex flex-col
    w-90% max-h-80vh py-4 px-6 rounded-lg
    bg-[var(--c-bg)] shadow-custom_0_0_10_0 text-[var(--c-text)]"
>
  <div class="pb-1 b-b b-[var(--c-text)]">Table of Contents</div>
  <ul class="text-sm">
    <slot />
  </ul>
</nav>

<script>
  import { toggleFadeEffect } from '~/utils/misc'

  document.addEventListener('astro:page-load', () => {
    /* Open toc panel when user click on button */
    const handleBtnClickToOpen = () => {
      toggleFadeEffect('backdrop', true, 'hidden')
      toggleFadeEffect('toc-panel', true, 'hidden!')
    }

    const tocOpenButton = document.getElementById('toc-open-button')
    tocOpenButton?.addEventListener('click', handleBtnClickToOpen)

    /* Close toc panel when user click on link */
    const handleClickToClose = (event: MouseEvent) => {
      const target = event.target
      const isClickedOnLink =
        target instanceof HTMLElement && target.closest('a')

      if (isClickedOnLink) {
        toggleFadeEffect('toc-panel', false, 'hidden!')
        toggleFadeEffect('backdrop', false, 'hidden')
      }
    }

    const tocPanel = document.getElementById('toc-panel')
    tocPanel?.addEventListener('click', handleClickToClose)
  })
</script>
