/* /releases & /prs */
.github-item-prose h1,
.github-item-prose h2,
.github-item-prose h3,
.github-item-prose h4,
.github-item-prose h5 {
  --uno: 'text-1em lt-sm:text-sm';
}

.github-item-prose > :first-child {
  margin-top: 1.6em;
}

.github-item-prose > :last-child {
  margin-bottom: 1.25em;
}

.github-item-prose h5 a {
  font-size: 0.875em;
}

.github-item-prose li {
  --uno: 'lt-sm:text-sm';
}

summary::-webkit-details-marker {
  display: none;
}

/* /highlights */
.card-item-prose p {
  margin-bottom: 1.1em;
  margin-top: 1.1em;
}

.card-masonry > *:first-child {
  border-radius: 0.5rem;

  --uno: 'hover:(shadow-custom_0_3_20_-5)';
}

/* /shorts */
.card-grid > *:first-child {
  border-radius: 0.75rem;

  --uno: 'hover:(shadow-custom_0_0_15_-3 scale-103 transition-transform)';
}
