---
import Link from '~/components/base/Link.astro'
import { ensureTrailingSlash } from '~/utils'

const pathSegments = ensureTrailingSlash(Astro.url.pathname)
  .split('/')
  .slice(0, -2)
const href = pathSegments.length > 1 ? pathSegments.join('/') + '/' : '/'
---

<span class="op-50 font-mono"> &gt; </span>
<Link class="link" {href}> cd .. </Link>

<style>
  .link {
    --uno: 'op-50 font-mono hover:op-75';
  }
</style>
