---
import Link from '~/components/base/Link.astro'

const href = Astro.url.pathname.split('/').slice(0, -1).join('/') || '/'
---

<span class="op-50 font-mono"> &gt; </span>
<Link class="link" {href}> cd .. </Link>

<style>
  .link {
    @apply: op-50 font-mono hover:op-75;
  }
</style>
