---
import Link from '~/components/base/Link.astro'
import { withBasePath } from '~/utils/path'

interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<Link
  class:list={['op-transition', className]}
  href={withBasePath('/rss.xml')}
  title="RSS Feed"
  external={true}
>
  <div u-i-lucide-rss></div>
</Link>
