---
import Link from '~/components/base/Link.astro'
import { getUrl } from '~/utils/common'

const { class: className } = Astro.props
---

<Link
  class=`op-transition ${className}`
  href={getUrl('/rss.xml')}
  title="RSS Feed"
  external={true}
>
  <div u-i-lucide-rss></div>
</Link>
