---

---

<button
  id="to-top-button"
  title="Scroll to top"
  class="z-100 fixed right-3 bottom-3
    w-10 h-10 rounded-full
    op-0 pointer-events-none
    transition duration-300
    hover:(op-100! bg-hex-8883!) print:hidden"
>
  <div u-i-ri-arrow-up-line></div>
</button>

<script>
  /* handle click */
  const toTop = (event: MouseEvent) => {
    event.preventDefault()
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    })
  }

  const toTopButton = document.getElementById('to-top-button')
  toTopButton?.addEventListener('click', (event) => toTop(event))

  /* listen for scrolling */
  const scrollThreshold = 300

  function handleScroll() {
    if (!toTopButton) {
      console.error('Element with id "to-top-button" not found.')
      return
    }

    const scrollY = window.scrollY || document.documentElement.scrollTop

    if (scrollY <= scrollThreshold) {
      toTopButton.style.opacity = '0'
      toTopButton.style.pointerEvents = 'none'
    } else {
      toTopButton.style.opacity = '0.3'
      toTopButton.style.pointerEvents = 'auto'
    }
  }

  window.addEventListener('scroll', handleScroll)

  handleScroll()
</script>
