---
import BaseLayout from '~/layouts/BaseLayout.astro'
---

<BaseLayout title="404 Not Found">
  <article>
    <div class="prose m-auto slide-enter-content">
      <h1 id="404" tabindex="-1">
        404<a href="#404" class="header-anchor" aria-hidden="true">#</a>
      </h1>
      <p>Nice to meet you tho!</p>
    </div>
  </article>
</BaseLayout>
