---
import Layout from '~/layouts/Layout.astro'
import { metadata, site } from '~/blog-config.json'
---

<Layout
  title={metadata.home.title}
  description={metadata.home.description}
  author={site.author}
>
  <main>
    <h1>
      Astro 的目标是使所有 Web 开发者都对它易于理解。Astro
      被设计成熟悉和平易近人的感觉，无论技能水平或过去的 Web 开发经验如何。
      Astro 的 .astro UI 语言是 HTML 的超集：任何有效的 HTML 都是有效的 Astro
      模板语法！因此，如果你能编写 HTML，你就可以编写 Astro
      组件！但是，它还结合了我们从其他组件语言中借用的一些我们最喜欢的功能，如
      JSX 表达式（React）和默认使用 CSS 作用域（Svelte 和 Vue）。这种与 HTML
      的相似性也使得使用渐进式增强和常见的可访问性模式变得更加容易而无额外开销。
      我们然后确保你还可以使用你已经了解的最喜欢的 UI
      组件语言，甚至可以复用你可能已经有的组件。React、Preact、Svelte、Vue、Solid、Lit
      和其他的，包括 Web components，都被支持在 Astro 项目中编写 UI 组件。
    </h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
