---
import Plum from '~/components/bgs/Plum.astro'

interface Props {
  type: string
}

const { type } = Astro.props
---

<div
  class="z--1 fixed top-0 bottom-0 left-0 right-0
    pointer-events-none
    print:hidden"
  style="mask-image: radial-gradient(circle, transparent, black);
    --webkit-mask-image: radial-gradient(circle, transparent, black)"
>
  {type === 'plum' && <Plum />}
</div>
