---
import Link from './base/Link.astro'
import { SITE } from '~/config'

const currentYear = new Date().getFullYear()

const content = `© ${currentYear} ${SITE.author} | Powered by`
---

<footer class="slide-enter animate-delay-1600! px-7 mt-auto mb-10">
  <div class="prose mx-auto op-50">
    <div class="text-sm">
      {content}
      <Link
        href="https://github.com/lin-stephanie/astro-antfustyle-theme"
        title="AntfuStyle on GitHub"
        external={true}
        class="op-100! color-[--fg]!"
      >
        Astro AntfuStyle Theme
      </Link>
    </div>
  </div>
</footer>
