---
import '@unocss/reset/tailwind.css'
import '~/styles/main.css'
import '~/styles/prose.css'
import '~/styles/markdown.css'

import Head from '~/components/Head.astro'
import NavBar from '~/components/NavBar.astro'
import BackLink from '~/components/widgets/BackLink.astro'
import Footer from '~/components/Footer.astro'
// import Background from '~/components/Background.astro'

import { site } from '~/blog-config.json'

interface Props {
  title: string
  description?: string
  bgType?: string
}

const { title, description /* bgType */ } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={`${title} - ${site.name}`}
      author={site.author}
      description={description || ''}
    />
  </head>
  <body class="relative font-sans text-gray-700 dark:text-gray-200">
    <!-- {bgType && <Background type={bgType} />} -->
    <NavBar />
    <main class="px-7 py-10">
      <slot />
      <!-- <ShareLink /> -->
      <BackLink />
      <Footer />
    </main>
  </body>
</html>
