---
import '@unocss/reset/tailwind.css'
import 'rehype-callouts/theme/obsidian'

import '~/styles/main.css'
import '~/styles/prose.css'
import '~/styles/markdown.css'

import Head from '~/components/Head.astro'
import NavBar from '~/components/NavBar.astro'
import BackLink from '~/components/widgets/BackLink.astro'
import Footer from '~/components/Footer.astro'
import Background from '~/components/Background.astro'

import config from '~/config'

interface Props {
  title: string
  description?: string
  bgType?: string
}

const { title, description, bgType } = Astro.props
const { site } = config
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={title ? `${title} - ${site.name}` : site.name}
      author={site.author}
      description={description || ''}
    />
  </head>
  <body class="relative font-sans text-gray-700 dark:text-gray-200">
    {bgType && <Background type={bgType} />}
    <NavBar />
    <main class="px-7 py-10">
      <slot />
      {
        Astro.url.pathname !== '/' && (
          <div class="prose slide-enter m-auto mt-8 mb-8 animate-delay-1000! print:hidden">
            <slot name="share" />
            <br />
            <BackLink />
          </div>
        )
      }
      <Footer />
    </main>
  </body>
</html>
