---
import '@unocss/reset/tailwind.css'

import Head from '~components/Head.astro'
import Header from '~components/Header.astro'
import Footer from '~components/Footer.astro'
import { SITE } from '~configs'

interface Props {
  title: string
  author: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} - ${SITE.NAME}`} author={SITE.NAME} {description} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
