---
import BackLink from '~/components/widgets/BackLink.astro'
import Header from '~/components/Header.astro'
import type { CollectionEntry, ContentEntryMap } from 'astro:content'

interface Props {
  post: CollectionEntry<keyof ContentEntryMap>
}

const { post } = Astro.props
const { data: frontmatter } = post
---

<Header {frontmatter} />
<article>
  <div class="prose slide-enter-content m-auto">
    <slot />
  </div>
</article>
<BackLink />
