---
interface Props {
  title: string
  subtitle?: string
  isSearchable?: boolean
}

const { title, subtitle, isSearchable = false } = Astro.props
---

<header class="prose m-auto mb-8">
  <h1
    class="slide-enter-50 mb-0"
    data-pagefind-body={isSearchable ? true : undefined}
    data-pagefind-weight={isSearchable ? '10' : undefined}
    data-pagefind-meta={isSearchable ? 'title' : undefined}
  >
    {title}
  </h1>
  {
    subtitle && (
      <p class="animate-none mt--4! mb-8! op-50! italic">{subtitle}</p>
    )
  }
  <slot name="head" />
</header>
<article
  data-pagefind-body={isSearchable ? true : undefined}
  class="prose slide-enter-content m-auto"
>
  <slot />
</article>
