---
interface Props {
  title?: string
  subtitle?: string
  isCentered?: boolean
  isSearchable?: boolean
  searchFilter?: string
  class?: string
}

const {
  title,
  subtitle,
  isCentered = false,
  isSearchable,
  searchFilter,
  class: className,
} = Astro.props
---

<header
  class:list={{
    'prose mx-auto mb-8': true,
    'text-center': isCentered,
  }}
>
  {title && <h1>{title}</h1>}
  {subtitle && <p class="mt--4! op-50 italic">{subtitle}</p>}
  <slot name="head" />
</header>
{
  Astro.slots.has('article') && (
    <article
      class="slide-enter-content prose mx-auto"
      data-pagefind-body={isSearchable ? '' : undefined}
      data-pagefind-filter={
        isSearchable && searchFilter ? searchFilter : undefined
      }
    >
      <slot name="article" />
    </article>
  )
}
{
  Astro.slots.has('default') && (
    <div class:list={['mx-auto', className]}>
      <slot />
    </div>
  )
}
