---
import Link from '~/components/base/Link.astro'
import type { NavTabsItems } from '~/types'

interface Props {
  items: NavTabsItems
}

const { items } = Astro.props
const path = Astro.url.pathname
---

<article>
  <div class="prose slide-enter-content m-auto">
    <div id="nav-tabs" class="prose m-auto mb-8 select-none animate-none!">
      <div u-flex="~ gap-3 lt-sm:(col wrap gap-1) " class="mb-0 text-3xl">
        {
          items.map((item) => (
            <Link
              class:list={[
                'link',
                {
                  'tabs__a--active': path === item.href,
                  'tabs__a--inactive': path !== item.href,
                },
              ]}
              href={item.href}
            >
              {item.label}
            </Link>
          ))
        }
      </div>
    </div>
    <slot />
  </div>
</article>

<style>
  .link {
    border-style: none !important;
  }

  .tabs__a--active {
    opacity: 1;
  }

  .tabs__a--inactive {
    opacity: 0.2;
  }

  .tabs__a--inactive:hover {
    opacity: 0.5;
  }
</style>
