---
import Link from '~/components/base/Link.astro'
import { ensureTrailingSlash } from '~/utils'
import type { NavTabsItems } from '~/types'

interface Props {
  items: NavTabsItems
}

const { items } = Astro.props

const currentPath = ensureTrailingSlash(Astro.url.pathname)
const isActive = (href: string) => currentPath === ensureTrailingSlash(href)
---

<article class="prose slide-enter-content m-auto">
  <nav id="nav-tabs" class="prose m-auto mb-8 select-none animate-none!">
    <div u-flex="~ gap-3 lt-sm:(col wrap gap-1) " class="mb-0 text-3xl">
      {
        items.map((item) => (
          <Link
            class:list={{
              'link': true,
              'tabs__a--active': isActive(item.href),
              'tabs__a--inactive': !isActive(item.href),
            }}
            href={ensureTrailingSlash(item.href)}
          >
            {item.label}
          </Link>
        ))
      }
    </div>
  </nav>
  <slot />
</article>

<style>
  .link {
    border-style: none !important;
  }

  .tabs__a--active {
    opacity: 1;
  }

  .tabs__a--inactive {
    opacity: 0.2;
  }

  .tabs__a--inactive:hover {
    opacity: 0.5;
  }
</style>
