---
import Link from '~/components/base/Link.astro'
import type { NavTabsItems } from '~/types'

interface Props {
  items: NavTabsItems
}

const { items } = Astro.props
---

<article>
  <div class="prose slide-enter-content m-auto">
    <div id="nav-tabs" class="prose m-auto mb-8 select-none">
      <div u-flex="~ gap-3 lt-sm:(col wrap gap-1) " class="mb-0 text-3xl">
        {
          items.map((item) => (
            <Link class="link" href={item.href}>
              {item.label}
            </Link>
          ))
        }
      </div>
    </div>
    <slot />
  </div>
</article>

<style>
  .link {
    border-style: none !important;
  }

  .tabs__a--active {
    opacity: 1;
  }

  .tabs__a--inactive {
    opacity: 0.2;
  }

  .tabs__a--inactive:hover {
    opacity: 0.5;
  }
</style>

<script>
  document.addEventListener('astro:page-load', () => {
    const tabs = document.querySelectorAll('#nav-tabs a')

    if (tabs.length === 0) return

    const currentPath = window.location.pathname

    tabs.forEach((tab) => {
      if (currentPath === tab.getAttribute('href')) {
        tab.classList.remove('tabs__a--inactive')
        tab.classList.add('tabs__a--active')
      } else {
        tab.classList.remove('tabs__a--active')
        tab.classList.add('tabs__a--inactive')
      }
    })
  })
</script>
