---
import type { CollectionEntry, DataCollectionKey } from 'astro:content'

interface Props {
  entry: CollectionEntry<DataCollectionKey>
}

const { entry } = Astro.props
const { data } = entry
---

<header class="prose m-auto mb-8 text-center">
  <h1 class="slide-enter-50 mb-0">
    {data.title}
  </h1>
</header>
<article>
  <div class="max-w-300 mx-auto">
    {
      data.subtitle && (
        <p class="mt--6! mb-5 opacity-50 text-lg text-center italic">
          {data.subtitle}
        </p>
      )
    }
    <slot />
  </div>
</article>
