---
interface Props {
  title: string
  subtitle?: string
}

const { title, subtitle } = Astro.props
---

<header class="prose m-auto mb-8 text-center">
  <h1 class="slide-enter-50 mb-0">
    {title}
  </h1>
  {subtitle && <p class="mt--4! op-50 text-center italic">{subtitle}</p>}
</header>
<article class="max-w-300 mx-auto">
  <slot />
</article>
