---

---

<button
  id="nav-open-button"
  class="hidden lt-md:block op-60 hover:op-100 op-transition"
  title="Navigation"
  aria-label="Navigation"
  aria-expanded="false"
  aria-controls="nav-panel"
>
  <div u-i-ri-menu-line></div>
</button>

<div
  id="nav-panel"
  class="hidden! z-200 fixed top-10% left-50% translate-x--50%
    overflow-y-auto flex flex-col gap-5
    w-90% max-h-80vh py-4 px-6 rounded-lg
  bg-[var(--c-bg)] shadow-custom_0_0_10_0 text-[var(--c-text)]"
>
  <ul>
    <slot name="text" />
  </ul>
  <div class="flex justify-center items-center gap-4">
    <slot name="icon" />
  </div>
</div>

<script>
  import { toggleFadeEffect } from '~/utils/misc'

  document.addEventListener('astro:page-load', () => {
    /* Open nav panel when user click on button */
    const handleBtnClickToOpen = () => {
      toggleFadeEffect('backdrop', true, 'hidden')
      toggleFadeEffect('nav-panel', true, 'hidden!')
    }

    const navOpenButton = document.getElementById('nav-open-button')
    navOpenButton?.addEventListener('click', handleBtnClickToOpen)
  })
</script>
